
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before { content: "\e629"; }

.icon-ren:before { content: "\e619"; }

.icon-che:before { content: "\e610"; }

.icon-qian:before { content: "\e662"; }

.icon-tubiaofenxi:before { content: "\e668"; }

.icon-home:before { content: "\e73f"; }
